body {
  background-image: url("../src/assets/pizzaa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cancel{
   text-align: center;
   color: crimson;
}

.btn {
  margin: 30px 40px;
}

#headi{
  color: red;
}

#dinner{
  text-align: center;
  color: black;
}

#answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#heading1{
  text-align: center;
}

.chatarea-inner {
  float: left;
  width: 60%;
  padding: 10px;
  color: #fff;
  position: relative;
  margin: 5px 0;
}

.chatarea-inner.chatbot {
  background-color: #2f2f2f;
}

.chatarea-inner.chatbot:before {
  content: "";
  position: absolute;
  border-left: 20px solid #2f2f2f;
  border-top: 20px solid transparent;
  border-bottom: 0px solid transparent;
  bottom: 0;
  right: -20px;
}

